.relative {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* background-color: #ffffffa1; */
}

/* .verticalPos {
    margin-top: min(50%, 200px);
} */

.progress {
    width: 100%;
    height: 100%;
    max-height: 70vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
