<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no">
        <meta name="renderer" content="webkit">
        <!-- No Baidu Siteapp-->
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <meta name="apple-mobile-web-app-title" content="Roopiy">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <meta
            http-equiv="Content-Security-Policy"
            content="script-src 'self' 'unsafe-inline'"
        />

        <!-- <link rel="manifest" href="/manifest.json"> -->

        <title>Roopiy</title>

        <style>
            /* a, a:visited, a:hover, a:active {
                    text-decoration: none;
                    color: inherit;
            } */

            body {
                    transition: all 0.15s ease-in-out;
            }

        </style>

        <!-- <script>
                let theme = localStorage.getItem("theme");
                if(theme === null) {
                        theme = "dark";
                }

                const color = theme === "light"
                        ? "#fff"
                        : "#121212";

                document.body.style.backgroundColor=color;
        </script> -->
        <!-- <script>var global = global || window;</script> -->
    </head>

    <body>
        <div id="root"></div>
    </body>
</html>
